<app-loading *ngIf="loading" class="m-6"> </app-loading>
<div class="row">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="" />
    </div>

    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
        Ir a la pagina del artista
      </a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-danger">Regresar</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>

            <tbody>
                <tr class="text-white m-2" *ngFor="let tracks of toTracks">
                    <td>
                        <img [src]="tracks.album.images | noimage" alt="" class="img-thumb" />
                    </td>
                    <td>{{ tracks.album.name }}</td>
                    <td>{{ tracks.name }}</td>
                    <td>
                        <iframe [src]="
                tracks.uri | domseguro: 'https://open.spotify.com/embed?uri='
              " width="200" height="150" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        <!-- <audio [src]="tracks.preview_url" controls></audio> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>